body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100wv;
    overflow: hidden;
    
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Navigation styles */
  nav {
      background-color: #444;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 20px
  }
  /* Link Styles within the nav*/
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
  }

  nav a:hover {
      color: #5a5a5a;
  }

  p {
      color: #000000;
  }

  h3 {
      color: #eee;
  }

  #main {
      height: 84vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5vw;
        grid-row-gap: 5vw;
      }
  
  #quarter {
    margin: 5vw;
    width: 30vw;
    height: 10vw;
  }


  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

  .button{
    background-color: red;
    text-align: center;
    width: 10vh;
    height: 10vh;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    
  }

  .button:hover{
    cursor: pointer;
    background-color: darkred;

  }

  #camera {
    height: 20vh;
    width: 40vw;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #logs {
    height: 20vh;
    width: 40vw;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  footer p {
    text-align: center;
    color: #fff;
  }